<div class="p-6 min-h-screen">
  <div class="flex justify-between items-center mb-6">
    <div>
      <h1 class="text-xl text-white">Welcome back, {{ user.firstName }} 👋</h1>
      <p class="text-sm text-gray-400">
        Here is the latest update for the last 7 days. Check now
      </p>
    </div>
    <div class="flex gap-2">
      <button
        pButton
        label="Export"
        icon="pi pi-download"
        class="p-button-outlined"
      ></button>
    </div>
  </div>

  <div class="grid grid-cols-1 gap-5 md:grid-cols-3">
    <div class="col-span-2">
      <div *ngIf="adminMetrics$ | async as metrics">
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4">
          @for (stat of stats(); track stat.title) {
          <div
            class="px-4 py-6 rounded-lg shadow-sm card-gradient-bg border border-[#1E334C] text-center"
          >
            <div class="flex items-center justify-center text-white">
              <!-- <i [class]="stat.icon" class="text-3xl mr-4"></i> -->
              <div>
                <p class="text-sm opacity-90">{{ stat.title }}</p>
                <h2 class="text-3xl font-bold text-gray-300">
                  {{ stat.value }}
                </h2>
              </div>
            </div>
            <span class="flex items-center">
              <i class="pi pi-arrow-up-right text-green-700 text-sm"></i>
              <span class="text-sm text-gray-400">10.34% than last week</span>
            </span>
          </div>
          }
        </div>
      </div>

      <div class="mt-5">
        <h2 class="font-bold text-gray-300 py-5">Analysis Statistics</h2>
        <div class="card-gradient-bg p-2 rounded-lg">
          <p-chart
            type="line"
            [data]="lineGraphData"
            [options]="lineGraphOptions"
            height="20rem"
          />
        </div>
      </div>
    </div>
    <div class="col-span-1">
      <div class="shadow-md rounded-md">
        <h2 class="font-bold text-gray-300 mb-5">Analysis Statistics</h2>
        <div class="card-gradient-bg p-2 rounded-lg">
          <p-chart
            type="doughnut"
            [data]="data"
            [options]="options"
            height="25rem"
            width="100%"
          />
        </div>
      </div>
    </div>
  </div>

  <div class="mt-24">
    <h3 class="font-bold text-gray-300 py-5">Recent Patients</h3>
    <p-table
      [value]="(patients$ | async)?.slice(0, 5) || []"
      [tableStyle]="{ 'min-width': '50rem' }"
    >
      <ng-template pTemplate="header">
        <tr>
          <th>Patient ID</th>
          <th>Full Name</th>
          <th>Contact</th>
          <th>Gender</th>
          <th>DOB</th>
          <th>Status</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-patient>
        <tr>
          <td>{{ patient.customId }}</td>
          <td>
            <div class="capitalize">
              {{ patient.lastName }} {{ patient.middleName }}
              {{ patient.firstName }}
            </div>
          </td>
          <td>
            <div class="flex items-center gap-2">
              <i class="pi pi-phone"></i>
              {{ patient.phoneNumber }}
            </div>
          </td>
          <td>{{ patient.gender }}</td>
          <td>
            <div class="flex items-center gap-2">
              <i class="pi pi-calendar"></i>
              {{ patient.dob | date : "MM/dd/yyyy" }}
            </div>
          </td>
          <td>
            <p-tag
              [value]="patient.status"
              [severity]="getSeverity(patient.status)"
            />
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
