<h2 class="text-2xl font-semibold text-gray-900 mb-2">Get started</h2>
<p class="text-gray-600 mb-8">Create your account now</p>

<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
  <!-- Step 1 -->
  <div
    *ngIf="currentStep === 1"
    class="space-y-6"
    data-aos="fade-right"
    data-aos-duration="1000"
    ata-aos-easing="ease-in-sine"
  >
    <div>
      <input
        type="text"
        class="w-full px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:border-blue-500"
        placeholder="First Name"
        pInputText
        formControlName="firstName"
      />
    </div>
    <div>
      <input
        type="text"
        class="w-full px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:border-blue-500"
        placeholder="Middle Name"
        pInputText
        formControlName="middleName"
      />
    </div>
    <div>
      <input
        type="text"
        class="w-full px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:border-blue-500"
        placeholder="Last Name"
        pInputText
        formControlName="lastName"
      />
    </div>
    <div>
      <input
        type="text"
        class="w-full px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:border-blue-500"
        placeholder="License Id"
        pInputText
        formControlName="licenseId"
      />
    </div>
    <div class="flex justify-center">
      <p-button
        type="button"
        label="Next"
        styleClass="bg-[#083CB3] border-none py-2 px-14"
        (click)="nextStep()"
        icon="pi pi-arrow-right"
        iconPos="right"
        [disabled]="
          !registerForm.get('firstName')?.valid ||
          !registerForm.get('lastName')?.valid ||
          !registerForm.get('licenseId')?.valid
        "
      />
    </div>
  </div>

  <div
    *ngIf="currentStep === 2"
    class="space-y-6"
    data-aos="fade-right"
    data-aos-duration="1000"
    ata-aos-easing="ease-in-sine"
  >
    <div>
      <input
        type="email"
        pInputText
        formControlName="email"
        class="w-full"
        placeholder="Email Address"
      />
    </div>
    <div>
      <p-inputMask
        mask="(233) 999-999-999"
        formControlName="phoneNumber"
        placeholder="(233) 999-999-999"
        class="w-full"
        [style]="{ width: '100%' }"
      />
    </div>
    <div class="card flex justify-content-center">
      <p-dropdown
        formControlName="roles"
        [options]="rolesOptions"
        optionLabel="name"
        placeholder="Select Profession"
        class="w-full"
        [style]="{ width: '100%' }"
      />
    </div>
    <div class="w-full">
      <p-password
        id="password"
        formControlName="password"
        promptLabel="Choose a password"
        weakLabel="Too simple"
        mediumLabel="Average complexity"
        strongLabel="Complex password"
        [style]="{ width: '100%' }"
        [inputStyle]="{
              width: '100%',
            }"
        [toggleMask]="true"
        placeholder="Password"
      />
    </div>

    <div class="flex justify-center gap-5">
      <p-button
        type="button"
        label="Previous"
        styleClass="bg-[#083CB3] border-none py-2 px-14"
        (click)="previousStep()"
        icon="pi pi-arrow-left"
        iconPos="left"
      />
      <p-button
        type="submit"
        label="Register"
        [loading]="loading"
        styleClass="bg-[#083CB3] border-none py-2 px-14"
        [disabled]="!registerForm.valid"
      />
    </div>
  </div>
</form>

<p class="text-center text-gray-600 mt-8">
  Have an account?
  <a [routerLink]="['/login']" class="text-[#0A3CB3] hover:underline">
    Login
  </a>
</p>
