<div class="">
  <div class="mb-8">
    <h2 class="text-2xl font-semibold text-gray-300">Settings</h2>
  </div>

  <div class="p-5">
    <div class="rounded-md p-5 bg-[#021930] shadow-lg">
      <div class="flex justify-between mb-5">
        <h5 class="font-semibold text-gray-200">Profile Details</h5>
      </div>
      <div class="block md:flex justify-between items-center">
        <div class="flex items-center gap-2">
          <div
            class="w-20 h-20 rounded-full bg-gray-200 flex items-center justify-center"
          >
            <i class="pi pi-user text-3xl text-gray-500"></i>
          </div>
          <!-- <button
            type="button"
            class="bg-gray-300 text-blue-700 font-medium p-2 rounded-md text-sm"
          >
            Change Profile Photo
          </button> -->
        </div>
        <div>
          <p class="text-gray-400 font-semibold">VIDA Id</p>
          <p class="text-gray-200">
            {{ user.customId || "N/A" }}
          </p>
        </div>
      </div>

      <form [formGroup]="updateProfileForm" (ngSubmit)="updateProfile()">
        <div class="grid grid-cols-1 md:grid-cols-2 gap-5 mt-9">
          <div class="col-span-1">
            <div class="mb-5">
              <label for="" class="text-gray-500 font-semibold"
                >First Name</label
              >
              <div class="card flex justify-content-center mt-1">
                <input
                  type="text"
                  pInputText
                  class="w-full"
                  formControlName="firstName"
                />
              </div>
            </div>
            <div class="mb-5">
              <label for="" class="text-gray-500 font-semibold"
                >Last Name</label
              >
              <div class="card flex justify-content-center mt-1">
                <input
                  type="text"
                  pInputText
                  class="w-full"
                  formControlName="lastName"
                />
              </div>
            </div>
            <div class="mb-5">
              <label for="" class="text-gray-500 font-semibold"
                >Phone Number</label
              >
              <div class="card flex justify-content-center mt-1">
                <input
                  type="text"
                  pInputText
                  class="w-full"
                  formControlName="phoneNumber"
                />
              </div>
            </div>
          </div>
          <div class="col-span-1">
            <div class="mb-5">
              <label for="" class="text-gray-500 font-semibold">
                Middle Name
              </label>
              <div class="card flex justify-content-center mt-1">
                <input
                  type="text"
                  pInputText
                  class="w-full"
                  formControlName="middleName"
                />
              </div>
            </div>
            <div class="mb-5">
              <label for="" class="text-gray-500 font-semibold">
                Email Address
              </label>
              <div class="card flex justify-content-center mt-1">
                <input
                  type="text"
                  pInputText
                  class="w-full"
                  formControlName="email"
                />
              </div>
            </div>
            <div class="mb-5">
              <label for="" class="text-gray-500 font-semibold"
                >Licence Id</label
              >
              <div class="card flex justify-content-center mt-1">
                <input
                  type="text"
                  pInputText
                  class="w-full"
                  formControlName="licenceId"
                />
              </div>
            </div>
          </div>
        </div>

        <div class="text-end">
          <button
            class="bg-transparent text-gray-200 border rounded-md p-2"
            [disabled]="loading"
            type="submit"
          >
            <span class="loading" *ngIf="loading"></span>
            {{ loading ? "Please wait..." : "Save Comment" }}
          </button>
        </div>
      </form>
    </div>

    <div class="rounded-md p-5 mt-10 bg-[#021930] shadow-lg">
      <h5 class="font-semibold text-gray-200 mb-5">Change Password</h5>
      <form action="">
        <div class="mb-5">
          <label for="" class="text-gray-500 font-semibold">Old Password</label>
          <div class="card flex justify-content-center mt-1">
            <input
              type="text"
              pInputText
              class="w-full"
              placeholder="***********"
            />
          </div>
        </div>
        <div class="mb-5">
          <label for="" class="text-gray-500 font-semibold">New Password</label>
          <div class="card flex justify-content-center mt-1">
            <input
              type="text"
              pInputText
              class="w-full"
              placeholder="***********"
            />
          </div>
        </div>
        <div class="mb-5">
          <label for="" class="text-gray-500 font-semibold">
            Confirm New Password
          </label>
          <div class="card flex justify-content-center mt-1">
            <input
              type="text"
              pInputText
              class="w-full"
              placeholder="***********"
            />
          </div>
        </div>
        <div class="text-end">
          <p-button
            type="button"
            label="Change Password"
            styleClass="bg-transparent text-gray-200 border border-gray-200"
          />
        </div>
      </form>
    </div>
  </div>
</div>
