@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

@layer tailwind-base, primeng, tailwind-utilities;
@layer tailwind-base {
  @tailwind base;
}
@layer primeng;
@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;
}

* {
  font-family: "Open Sans", sans-serif;
}

html {
  background-color: #021930;
}

.p-inputtext {
  background-color: #f3f4f7;
  border: none;
}

.p-inputtext::placeholder {
  color: #989595;
}
/* 
.active {
  color: #0a3cb3;
  background-color: 'bg-gradient-to-r from-purple-500 to-blue-500 hover:from-purple-600 hover:to-blue-600';
  font-weight: 600;
} */

.active {
  color: #0a3cb3;
  font-weight: 600;
  /* color: #0a3cb3;
  font-weight: 600;
  background: linear-gradient(to right, #2563eb, #9333ea); */
}

/* @apply .active bg-gradient-to-r from-purple-500 to-blue-500 hover:from-purple-600 hover:to-blue-600; */

.box-shadow {
  box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
}

.p-sidebar {
  background: #f2f3f5;
}

.p-paginator .p-paginator-pages .p-paginator-page {
  border-radius: 10%;
  height: 2rem;
  min-width: 2rem;
}

.p-paginator {
  justify-content: end;
}

.p-tag.p-tag-success {
  color: #188a42;
  background-color: #caf1d8;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animate-gradient {
  background-size: 200% auto;
  animation: gradient 4s linear infinite;
}

@keyframes progress {
  0% {
    transform: translateX(-100%);
  }
  50% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}

.animate-progress {
  animation: progress 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 3px solid #ffffff;
  border-radius: 50%;
  border-top-color: transparent;
  animation: spin 1s linear infinite;
  margin-right: 10px;
  vertical-align: middle;
}
.responsive-dialog {
  width: 80%;
}

@media (max-width: 768px) {
  .responsive-dialog {
    width: 100%;
  }
}

table {
  background-color: #0d1420 !important; /* Same as our bg-gray-900 */
}

tbody {
  background-color: #021930 !important; /* Same as our bg-gray-800 */
}

.p-datatable {
  border: 1px solid #30425c;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 0.5rem;
}

.p-datatable .p-datatable-thead > tr > th {
  background-color: #021930 !important;
  color: #ffffff !important;
  border-color: #30425c !important;
}

.p-datatable .p-datatable-tbody > tr > td {
  border-bottom-color: #30425c !important;
}

.p-datatable .p-datatable-tbody > tr {
  background-color: #021930 !important;
  color: #ffffffbf !important;
}

.p-datatable .p-datatable-tbody > tr:nth-child(even) {
  background-color: #021930 !important;
}

.p-datatable .p-datatable-tbody > tr:hover {
  background-color: #021930 !important;
}

.p-datatable.p-datatable-bordered .p-datatable-tbody > tr > td {
  border-color: #30425c !important;
}

.p-paginator {
  background-color: #021930 !important;
  border-color: #30425c !important;
}

.p-sidebar,
.p-dialog {
  background-color: #021930 !important;
}

.p-dialog .p-dialog-header {
  background: #021930;
  color: #ffffffd0;

}

.p-dialog .p-dialog-content {
  background: #021930;
  color: #ffff;
  padding: 1rem;
}


.p-dialog .p-dialog-footer {
  background: #021930;
  color: #ffff;
}